doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Begin OpenTSDB

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 认识 OpenTSDB
        h3 Bin Liu
        h3 2016/6/30

      section
        h2 什么是TSDB
        ul
          li TSDB = Time series database
          li 存储时序列（time-series）数据
          li 以时间建立索引

      section
        h2 数据特点
        ul
          li 数据量大
          li 结构简单
          li metri + timestamp + value [+ meta]

      section
        h2 TSDB特点
        ul
          li 时效性
          li 顺序写
          li 写多于读
          li 无更新
          li 区块（bulk）删除

      section
        h2 TSDB特点
        ul
          li 顺序读
          li 读优化

      section
        h2 存储引擎
        ul
          li HDFS
          li HBase
          li Cassandra
          li LevelDB
          li RRDTools

      section
        h2 Schemaless VS Schema
        ul
          li 灵活
          li 性能


      section
        h2 Query Language
        pre
          code.language-javascript.
            select mean(value) from 
            system.load.1
            where role='user'
             and time >= xxx
             and time <= yyy 
            group by dc


      section
        h2 TSDB
        ul
          li InfluxDB
          li RRDtool（Round Robin Database Tool）
          li Graphite
          li Druid/Pinot
          li Prometheus
          li Riak TS



      section
        h2 OpenTSDB
        ul
          li HBase
          li Tags
          li HTTP API
          li 聚合计算

      section
        h2 OpenTSDB用例（2014）
        ul
          li <b>OVH</b>
            ul
              li 35 nodes
              li 100k writes/s
          li <b>Yahoo</b>
            ul
              li 15 nodes
              li 280k writes/s
          li <b>Arista</b>
            ul
              li 单节点，无HDFS
              li 5k writes/s
              li 500G
          li <b>Box</b>
            ul
              li 23 nodes
              li 90k writes/s
      section
        h2 OpenTSDB
        img(src="http://77gaj2.com1.z0.glb.clouddn.com/2015/07/09/opentsdb/opentsdb_dataflow.jpg/zoom1")

      section
        h2 Write Data（Telnet）

        pre
          code.language-javascript.
            $ telnet localhost 4242
            put sys.load.1 1436333416 23 host=web01 user=10001


      section
        h2 Write Data（HTTP）
        pre
          code.language-javascript.
            $ curl -X POST -H "Content-Type: application/json" http://localhost:4242/api/put -d '[
                {
                    "metric": "system.load.1",
                    "timestamp": 1467090431,
                    "value": 0.12,
                    "tags": {
                       "host": "web01",
                       "dc": "tianjin"
                    }
                }
            ]'


      section
        h2 Read Data
        pre
          code.language-javascript.
            $ curl -s -X POST -H "Content-Type: application/json" http://localhost:4242/api/query -d '{
                "start": 1435716527,
                "queries": [
                    {
                        "metric": "system.load.1",
                        "aggregator": "avg",
                        "tags": {
                            "host": "*",
                            "dc": "beijing"
                        }
                    }
                ]
            }'


      section
        h2 OpenTSDB存储
        ul
          li HBase
          li UID
          li 3600s/Row
          li 行压缩


      section
        h2 UID
        ul
          li metric
          li tagk
          li tagv
          li default: 3bytes

      section
        h2 Row key
        pre
          code.language-javascript.
            &lt;metric_uid&gt;&lt;timestamp&gt;&lt;tagk1&gt;&lt;tagv1&gt;[...&lt;tagkN&gt;&lt;tagvN&gt;]
            // 例：
             \x00\x00\x01 + U\x9C\xAEP + \x00\x00\x01 + \x00\x00\x01 + \x00\x00\x02  + \x00\x00\x02
            sys.cpu.user     1436333416         host    =      web01          user     =    10001

      section
        h2 Row key
        img(src="images/opentsdb-rowkey.jpg")

      section
        h2 Demo
        ul
          li OpenTSDB in Docker
          li Cloudinsight

      section
        h2 tcollector
        pre
          code.language-javascript.
            cd ~/tcollector/
            sudo ./tcollector start

      section
        h2 Running OpenTSDB
        pre
          code.language-javascript.
            docker run -d -p 4242:4242 liubin/opentsdb

      section
        h2 Cloudinsight
        h3 http://cloudinsight.oneapm.com/

      section
        h2 Dashboard
        ul
          li https://github.com/Ticketmaster/metrilyx-2.0

      section
        h2 想用？
        ul
          li HBase运维
          li Tag设计

      section
        h2 Tag设计
        ul
          li docker.cpu.sys{containerid=58705}
          li docker.cpu.sys.58705

      section
        h2 reference
        ul
          li http://www.slideshare.net/cloudera/4-opentsdb-hbasecon
          li http://www.slideshare.net/cloudera/operations-session-3
          li http://www.slideshare.net/HBaseCon/ecosystem-session-6
          li http://www.slideshare.net/oliverhankeln/opentsdb-metrics-for-a-distributed-world

    script(src='build/build.js')